.pongFormInputCol {
	padding-right:20px;
	position: relative; float: left; 	
}

.pongFormInputGrp0 label {
	display: block;
    float: left;
	width: 100px;
}

.pongFormActions {
	display: block;
    float: left;
	margin-top: 16px;	
}

.ui-disabled { 
    opacity: 0.3 !important;
} 

.pongFormActionsClose,
.pongFormInputGrpClose {
  clear: both;
  line-height: 0;
}

.modalQr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  background-color: white;
  padding: 4rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  text-align: center;
}

.modalQrOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.barcodeImg {
  height: 15px;
}

.qrHidden {
  display: none;
}

.qrResult input {
  width: 100%
}

.qrResult button {
  margin-left: 10px;
  margin-right: 10px;
}