.pong-navbar {
	position : absolute;
	bottom: 5px;
	left: 50px;
	font-size: 10pt;
	color: gray;
	width:80%;	
	font-size: 12pt;
}
.pongNavBarItem { width:100px; float:left; }

.pongNavBarItemActive {
	font-size: 14pt;
	font-weight: bold;
}