.pongIconRowsDiv {
	height:100%;
  overflow: auto;
}

.pongIconRowsCatDiv {
  width:100%;
  height: 140px;
  background-color: #CCC;
}

.pongIconRow {
	cursor: pointer;
  position: relative;
  width: 100%;
  height: 140px;
}
.pongIconSubRow {
  width:100;
}
.pongIconRowItem,
.pongIconRowCatItem,
.pongIconSubRowItem {
  width:130px;
  float: left;
}

.pongIconRowInfo {
	position: absolute;
	top: 0px;
	background-color: rgba(255, 255, 79, 0.8);
	color: black;
	font-size: 0.7em;
}

.pongIconRowImg, 
.pongSubIconImg {
	width: 100px;
	height: 100px;
  margin-top: 5px;
	margin-left: 15px;
}
.pongIconRowLabel {
  width:100%;
  text-align: center;
}
.pongIconRowsPtr {
 /*  width: 50px;
  height: 13px;
  background-color: #CCC; */
  margin: auto;

  width: 0; 
  height: 0; 
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #CCC;
}
