.PullDownBtn {
	position : absolute;
	bottom: 5px;
	right: 5px;
	font-size: 10pt;
	text-align:center;
	color: gray;
	width:120px;	
	font-size: 10pt;
}

.PullDownMenu {
	position : absolute;
	bittom: -5px;
	right: 5px;
	font-size: 10pt;
	color: #F0F0F0;
	width:200px;
	font-size: 10pt;
	background-color: #909090;
	z-index: 100; 
}

.PullDownMenuItem {
	padding: 4px;
}