.pongTable {
	font-size:10pt;
}

div.editable { 
	width: 100%;
	height: 100%;
}

 
.pongTableFrm button { 
	font-size:10pt; font-style: normal; font-weight: normal;  
}

.pongTableFrm p { 
	margin: 2px; 
}

.pongTableFrm label { 
	font-size:10pt; font-style: normal; font-weight: normal; 
	width: 5em; 
	display: block; float: left;
}

.pongTable th {
		text-align: left;
}

.pong-table-paginator-text {
	font-size: 8pt;	
}
.pong-table-btn {
	font-size:10pt; font-style: normal; font-weight: normal;  
}

.tbl-link-icon {
	background-color: gray;
	display:inline-block;
	margin-left: 4px;
	
}

.pongListFrm { font-size: 10pt; }
.pongListFrm  p {
        display: inline;
        margin-right: 15px;
}
.pongListFrm button { font-size: 0.8em; } 
.pongListFrm .hasDatepicker {width: 100px; text-align: center; }