/* You can add all your custom styles here */
/*
body {
		font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
		font-size:1.5em;
    background-color: #EEE;
    width:360px;
}

#maindiv {
  width:320px;
	margin: 0 auto;
}


#ViewTypesContentpongIcons_Div, #FeaturesContentpongIcons_Div {
	width: 970px;
	padding-left: 10px;
}

.pongIconViewTypesContent, .pongIconFeaturesContent {
	width: 240px;	
	height: 220px;
	float: left;
}


#ViewTypesContentpongIcons_Div .pongIconImg {
  width: 40px;
  height: 40px;
  margin-left: 5px;
}

#ViewTypesContentpongIcons_Div .pongIconLabel, #FeaturesContentpongIcons_Div .pongIconLabel{
	text-align: center;
	font-size: 1.4em;
}
*/
