/* You can add all your custom styles here */

body {
		font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
		font-size:1.5em;
		background-color: #EEE;
}

#maindiv {
	margin: 0 auto;
}


#ViewTypesContentpongIcons_Div, #FeaturesContentpongIcons_Div {
	width: 970px;
	padding-left: 10px;
}

.pongIconViewTypesContent, .pongIconFeaturesContent {
	width: 240px;	
	height: 220px;
	float: left;
}

#ViewTypesContentpongIcons_Div .pongIconImg, #FeaturesContentpongIcons_Div .pongIconImg{
	width: 170px;
	height: 170px;
	margin-left: 15px;
}

#ViewTypesContentpongIcons_Div .pongIconLabel, #FeaturesContentpongIcons_Div .pongIconLabel{
	text-align: center;
	font-size: 1.4em;
}
