.pong-security {
	position : absolute;
	top: 5px;
	right: 10px;
	font-size: 10pt;
}
.user-id {
	color: #FFF;
}
#header .header-links {
    position: absolute;
    top: 24px;
}

#SecurityHeaderFrom {
	display: inline;
}